for loop

In [96]:
for i in range (1,6,):
  print(i)

1
2
3
4
5

to print multiple string or int or any another observation.
and it prints both the given command then again a nother set of series.

In [17]:
for i in range (1,8,):
   print("hello world")
   print("bad boy")

hello world
bad boy
hello world
bad boy
hello world
bad boy
hello world
bad boy
hello world
bad boy
hello world
bad boy
hello world
bad boy

to give gap or jump in a range of integers
here it left out the one after another number

In [19]:
for i in range (1,11,2,):
    print(i)

1
3
5
7
9

not to create it in arthematic equation
1) 7*1=7
2) 7*2=14
3) 7*3=21

In [60]:
n = 7
for i in range (1,11):
    print(n,"*",i,"=",n*i)

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

In [46]:
n = float(input("enter the number here"))
for i in range (1,11):
    print(n,"*",i,"=",n*i)

3.0 * 1 = 3.0
3.0 * 2 = 6.0
3.0 * 3 = 9.0
3.0 * 4 = 12.0
3.0 * 5 = 15.0
3.0 * 6 = 18.0
3.0 * 7 = 21.0
3.0 * 8 = 24.0
3.0 * 9 = 27.0
3.0 * 10 = 30.0

now made a cube series

In [66]:
n = 3
for i in range (1,11):
    print(i,"**",n,"=",i**n)

1 ** 3 = 1
2 ** 3 = 8
3 ** 3 = 27
4 ** 3 = 64
5 ** 3 = 125
6 ** 3 = 216
7 ** 3 = 343
8 ** 3 = 512
9 ** 3 = 729
10 ** 3 = 1000

while loop:

In [77]:
n = 1
while n<=10:
    print(n)
    n += 2

1
3
5
7
9

In [79]:
n = 1
a = 7
while n<11:
    print(a,"x",n,"=",n*a)
    n+=1

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [84]:
n = 1
a = int(input("enter the number here"))
while n<11:
    print(a,"*",n,"=",n*a)
    n+=1

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

In [7]:
while True:
    num1 = int(input('enter the number here'))
    num2 = int(input("enter the another number here "))
    print (num1+num2)

    repeat=input("do you want to stop the program  ")
    if repeat == "yes":
      break

8

In [5]:
for i in range (1,4):
    for j in range(1,11):
        print(j,end = "")
    print()

12345678910
12345678910
12345678910

In [32]:
for i in range(1,6):
   for j in range(1, i+1):
      print(j,end = " ")
   print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [33]:
for i in range(1,11):
    if i == 3:
        print("add this song to favs")
    else:
        print(i)

1
2
add this song to favs
4
5
6
7
8
9
10

In [68]:

for i in range(100,501):
    if i % 8 == 0 and i %12 == 0:
        print(i)

120
144
168
192
216
240
264
288
312
336
360
384
408
432
456
480

In [86]:

for i in range(int(input("enter the numbers here"))):
    if i % 8 == 0 and i %12 == 0 :
        print(i)

0
24
48
72
96
120
144
168
192
216
240
264
288
312
336
360
384
408
432
456
480

In [82]:
for i in range (1,11):
    if i ==5:
        continue
    else:
        print(i)

1
2
3
4
6
7
8
9
10

In [94]:
 for i in range (1,11):
    if i ==7:
        break
    else:
       print(i)

1
2
3
4
5
6